 <div class="container">


<h1>새로운 post를 입력할 화면입니다</h1>
<form action="/posts/create"> 
    <p>제목</p>
    <input type="text" name="input_title">
    
    <p>장소</p>
    <input type="text" name="input_place">
    
    <p>사진</p>
    <input type="text" name="input_image">
    
    <p>설명</p>
    <input type="text" name="input_content">
    
    <p>제출</p>
    <input class="btn btn-default" type="submit">
</form>




<!--<a class="btn btn-default" href="#" role="button">Link</a>-->
<!--<button class="btn btn-default" type="submit">Button</button>-->
<!--<input class="btn btn-default" type="button" value="Input">-->
<!--<input class="btn btn-default" type="submit" value="Submit">-->

</div>