<div class ="container">

<h1>앞으로의 발전 방향</h1>

<hr>
<h3>- 메모기능 및 ADD 기능 수정</h3>
<h3>- 모든 이미지에 호버 적용</h3>
<h3>- 검색기능 추가</h3>
<h3>- SNS에 나의 노드트립 공유기능</h3>
<h3>- 더 편한 UX/UI</h3>
<h3>- 멋진 디자인...</h3>

</div>