@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);


.font1{
    font-family: 'Jeju Gothic', serif;
}




body{
    margin: 0;
}

nav{
    margin-top: 0;
    padding-top: 0;
}


.nav-background{
    height: 100px;
    background-color: rgb(136, 176, 75);
}

.navbar-brand img{
    margin-top: 0;
    padding: 0;
    height: 97px;
    margin-left: 150px;
}

.navbar-brand{
    margin-top: 0;
    padding-top: 0;
}

.navbar-header{
    background-color: rgb(136, 176, 75);
}

li{
    color: white;
    background-color: none;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    background-color: none;
    text-decoration: none;
}
.nav-link:link{
    color: white;
    background-color: none;
    text-decoration: none;
}
.nav-link:active{
    color: white;
    background-color: none;
    text-decoration: none;
}
.nav-link:visited{
    color: white;
    background-color: none;
    text-decoration: none;
}

.nav-link{
    color: white;
    background-color: none;
    text-decoration: none;    
}